body {
    background-image: url("../images/west-elm-grapefruit-desktop-wallpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: rgb(30, 95, 104);
    text-shadow: 1px, white
}

.jumbotron {
  box-sizing: border-box;
  height: 600px;
  background-color: rgba(71, 68, 68, 0);
}
.container {
  background: rgba(238, 126, 126, 0.75)
  
}
.main-button-container {
  margin-top: 175px;
  max-width: 610px;
  margin-left: auto;
  margin-right: auto;
  background: rgb(207, 170, 148)
}

.timer-p {
  margin-top: 40px;
}

.answer:hover {
  background: #777;
}

.answer {
  padding-top: 7px;
  height: 45px;
  width: 100%;
  color: black;
  padding-left: 14px;
  background-color: white;
  border-radius: 4px;
  text-align: left;
  margin-bottom: 5px;
}

.answer:focus{
  background-color: none;
}

.img-right {
  margin-top: 40px;
  height: 25em;
  width: 25em;
}

.first-answer {
  margin-top: 40px;
}

.start-button {
  padding: .25em 7em .25em 7em;
  background-color: rgb(230, 156, 150);
  border: none;
}

.start-button:hover {
  background-color: rgb(214, 121, 114);
}

.reset-button {
  padding: .25em 7em .25em 7em;
  background-color: rgb(68, 67, 67);
  border: none;
}

.reset-button:hover {
  background-color: rgb(187, 185, 185);
}

.summary-correct {
  margin-top: 40px;
}